[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/pack/plugins/start/vim-toml"]
	path = .vim/pack/plugins/start/vim-toml
	url = https://github.com/cespare/vim-toml.git
